<head>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>

<div style="display:inline-block">
    <img src="../../images/logo.png" class="w-10-all">
    <a href="/">Home</a>
    <a href="/apply">Apply</a>
    <a href="/scan">Search Database</a>
    <!--<a href="/scan-edit">Scan-Edit Database</a>-->
    <!--<a href="/edit">Edit Database</a>-->
    <a href="/scan-edit-redirect">Edit Database</a>
    <!--<a href="/edit-entry">Edit Entry</a>-->
</div>
<br><br>