<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../stylesheets/style.css" />

    <!--<link rel="stylesheet" href="../stylesheets/jstyle.css" />-->

</head>

<body>
    {{> header }}

    <div id="search-form">
        <div class="scan-fields">
            <label for="social-security">SSN</label>
            <input id="social-security" type="text" name="ssn">
        </div>
        <div class="scan-fields">
            <label for="dob">DOB</label>
            <input id="dob" type="date" name="dob">
        </div>
        <div class="scan-fields">
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" name="lname">
        </div>
        <div class="scan-fields">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" name="fname">
        </div>
        <div class="scan-fields">
            <label for="occupation">Occupation</label>
            <input id="occupation" type="text" name="occupation">
        </div>
        <div class="scan-fields">
            <label for="emp">Employer</label>
            <input id="emp" type="text" name="employer">
        </div>
        <div class="scan-fields">
            <label for="application-date">Application Date</label>
            <input id="application-date" type="date" name="date">
        </div>

        <div class="scan-fields">
            <button type="button" style="margin-top:1.2em" onclick="clearTable();showScanResults()">Search</button>
        </div>
    </div>

    <table id="resultsTable">
        <thead>
            <tr style="background-color: #f2f2f2 !important">
                <th onclick="sortTable(0)">SSN</th>
                <th onclick="sortTable(1)">DOB</th>
                <th onclick="sortTable(2)">Last Name</th>
                <th onclick="sortTable(3)">First Name</th>
                <th onclick="sortTable(4)">Occupation</th>
                <th onclick="sortTable(5)">Employer</th>
                <th onclick="sortTable(6)">Application Date</th>
            </tr>
        </thead>
        <tbody id="resultsTableBody">
            <tr style="display:none">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>

    <!--<script src="tablefilter/dist/tablefilter/tablefilter.js"></script>-->
    <!--<script src="tablefilter/pagination-t0d.js"></script>-->
    <!--
    <link rel="stylesheet" type="text/css" href="../public/tablefilter/dist/tablefilter/style/tablefilter.css" />
    <script src="tablefilter/dist/tablefilter/tablefilter.js"></script>
    <script src="javascripts/tf-sort.js"></script>
    -->
    <!--node.js tablefilter module//////////////////////////////////-->
    <!--
    <script>
        var tf = new TableFilter(document.querySelector('#resultsTable'), {
            base_path: 'tablefilter/'
        });
        tf.init();
    </script>

-->
    <!--node.js tablefilter module//////////////////////////////////-->

    <script>

        function clearTable() {
            //if table has any data in it
            if (document.getElementById("resultsTableBody").rows[0].cells.length > 0) {
                //clear the table
                var tableBody = document.getElementById("resultsTableBody");
                tableBody.innerHTML = "";
            }
        }

        function showScanResults() {

            var soc = document.getElementById("social-security").value;
            var dob = document.getElementById("dob").value;
            var lastName = document.getElementById("last-name").value;
            var firstName = document.getElementById("first-name").value;
            var occ = document.getElementById("occupation").value;
            var empl = document.getElementById("emp").value;
            var appDate = document.getElementById("application-date").value;

            var ajaxCall = new XMLHttpRequest();

            ajaxCall.onreadystatechange = function () {

                if (ajaxCall.readyState == 4 && ajaxCall.status == 200) {

                    console.log('ajaxCall.responseText = ');
                    console.log(ajaxCall.responseText);

                    var jsonParsedData = ajaxCall.responseText;
                    var jsonResponse = JSON.parse(jsonParsedData);
                    console.log('jsonResponse =');
                    console.log(jsonResponse);

                    jsonResponse.forEach((i) => {//for each element of the jsonResponse array,
                        //get corresponding string entered in the application form
                        console.log("*************************************************");
                        console.log('~~~~~> i =')
                        console.log(i);
                        i.forEach((n) => {
                            console.log('///////////////////');
                            console.log(n);

                            var dob_entry = n['dob']['S'];
                            var ssn_entry = n['ssn']['S'];
                            var lname_entry = n['lname']['S'];
                            var fname_entry = n['fname']['S'];
                            var occ_entry = n['occupation']['S'];
                            var empl_entry = n['employer']['S'];
                            var appDate_entry = n['date']['S'];

                            var tableBody = document.getElementById("resultsTableBody");

                            var row = tableBody.insertRow(-1);
                            var cellSSN = row.insertCell(-1);
                            var cellDOB = row.insertCell(-1);
                            var cellLname = row.insertCell(-1);
                            var cellFname = row.insertCell(-1);
                            var cellOcc = row.insertCell(-1);
                            var cellEmp = row.insertCell(-1);
                            var cellAppDate = row.insertCell(-1);

                            cellSSN.innerHTML = ssn_entry;
                            cellDOB.innerHTML = dob_entry;
                            cellLname.innerHTML = lname_entry;
                            cellFname.innerHTML = fname_entry;
                            cellOcc.innerHTML = occ_entry;
                            cellEmp.innerHTML = empl_entry;
                            cellAppDate.innerHTML = appDate_entry;

                        });
                    });
                }
            };
            ajaxCall.open("POST", "/scan/results", true);
            console.log('post request sent from scan.hbs')
            ajaxCall.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            ajaxCall.send("ssn=" + soc + "&dob=" + dob + "&lname=" + lastName + "&fname=" + firstName + "&occupation=" + occ + "&employer=" + empl + "&date=" + appDate);

        }

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("resultsTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        function sortListUpDn() {
            var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
            list = document.getElementById("sortUpDn-fname");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            // Make a loop that will continue until no switching has been done:
            while (switching) {
                // start by saying: no switching is done:
                switching = false;
                b = list.getElementsByTagName("li");
                // Loop through all list-items:
                for (i = 0; i < (b.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /* check if the next item should switch place with the current item,
                    based on the sorting direction (asc or desc): */
                    if (dir == "asc") {
                        if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                            /* if next item is alphabetically lower than current item,
                            mark as a switch and break the loop: */
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
                            /* if next item is alphabetically higher than current item,
                            mark as a switch and break the loop: */
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                    // Each time a switch is done, increase switchcount by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

    </script>

</body>

</html>