<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../stylesheets/jstyle.css" />
</head>

<body>
    {{> header }}
<h3>
    THIS SSN ALREADY EXISTS IN DATABASE
</h3>
<h4>
    Please use navigation panel above to return to application form
</h4>
</body>

</html>