body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.w-10 {
  width:10%;
}
.w-25 {
  width:25%;
}
.w-33 {
  width: 32%;
}
.w-50 {
  width:49%;
}
.w-75 {
  width:74%;
}
.w-80 {
  width:80%;
}
.w-90 {
  width:90%;
}
.w-100 {
  width:100%;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
