body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
*/

.input-class,
.label-class {
  display: block;
}

.scan-fields {
  float: left;
  margin-right: 5px;
}

a {
  color: #00B7FF;
}


table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.w-10-all {
  width: 10%;
}

/*******pagination styles*******************************/
/*
.events-section__main-event {
  height: 50px;
  width: 100%;
  background-color: red;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.not-visible {
  display: none;
}
*/
/*******pagination styles*******************************/